.section-title{
    // padding-top: 70px;
    // padding-bottom: 30px;

// @media (min-width: 768px) {
//     padding-top: 120px;
//     padding-bottom: 90px;
// }

    p{
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #F94D1C;
    }

    h2{
        color: #191919;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
    }
}